folder('Sample_{{ test.apple }}') {  // <-- Use the folder ID to reference this folder  
    displayName('Sample_{{ test.apple }}')
    description('This is a description of SAMPLE folder {{ test.apple }}')
}

folder('Sample_{{ test.orange }}') { // <-- Use the folder ID to reference this folder 
    displayName('Sample_{{ test.orange }}')
    description('This is a description of SAMPLE folder {{ test.orange }}')
}

folder('Sample_{{ test.banana }}') { // <-- Use the folder ID to reference this folder 
    displayName('Sample_{{ test.banana }}')
    description('This is a description of SAMPLE folder {{ test.banana }}')
}
