*.pem
*.tfstate*
*.lock.hcl
.terraform/

# Cache directories
*/_cache/*
!*/_cache/dummy.txt

# Variable files (That are either sensitive, or designed to be templated)
ansible/group_vars/master.yml
ansible/group_vars/on_runtime.yml
ansible/template/*/*.tfvars
ansible/template/*/*.yml
ansible/template/*/*.pkrvars.hcl
ansible/template/*/*/*.tfvars
ansible/template/*/*/*.yml
ansible/template/*/*/*.pkrvars.hcl

packer/ansible_jenkins_node/group_vars/*.yml

packer/ansible_jenkins_node/template/jenkins_app/jenkins_casc_standard/dsl_jobs/**/*.groovy

minecraftAWS*.tfvars
!minecraftAWS_TEMPLATE.tfvars

# Output files
*manifest.json

# Adhoc test and ignore
*.ignore.*
test_directory/
