---
# The main directory of the host (contains all of the applications)
host_dir: "/home/admin/"

# Names of secrets
iam:
  profile_id: "iam-instance_profile-{{ general.nickname }}-jenkins"

secrets:
  dhparams:   "scrt-{{ general.nickname }}-jenkins-dhparams_pem"
  privkey:    "scrt-{{ general.nickname }}-jenkins-privkey_pem"
  fullchain:  "scrt-{{ general.nickname }}-jenkins-fullchain_pem"
  jenkins_creds: "scrt-{{ general.nickname }}-jenkins-jenkins_credentials_yml"

# Git Repo
gitrepo:
  nginx: "https://github.com/thehenrylam/SimpleNginx.git"
  nginx_version: "main"
  jenkins: "https://github.com/thehenrylam/SimpleJenkins.git"
  jenkins_version: "SimpleJenkins_v1.0.0"

# Swapfile settings
swapfile:
  limit: "2G"

